body {
  background-color: #c2c2c2;
}

.calc-body {
  width: 25%;
  height: 60vh;
  margin: auto auto;
  margin-top: 10%;
  background-color: #25274d;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border-radius: 15px;
  border: 2px solid black;
  overflow: hidden;
  text-align: right;
}

#result {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  border-bottom: 2px solid black;
  color: #4d3825;
  font-size: 42px;
}
.result {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.row {
  width: 100%;
  height: 100%;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.special {
  background-color: #464866;
}

.operator {
  background-color: #2e9cca;
}

.digit {
  background-color: #aaabb8;
}

.zero {
  grid-column: 1 / 3;
}

.zerobtn {
  background-color: #29648a;
}

button {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 20px;
  outline: none;
  transition-duration: .5s;
  cursor: pointer;
}

button:active {
  background-color: #c2c2c2;
}
