body {
  background: teal;
}

/* //////////////////////// */
#wrapper {
  width: 35%;
  margin: auto auto;
}

/* //////////////////////// */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
  border: 1px solid black;
}

/* //////////////////////// */
.display {
  grid-column: span 4;
  grid-row: 1;
  display: grid;
  border: 1px solid black;
}
.display > div {
  background: #000;
  color: #fff;
  text-align: right;
}
#display {
  font-size: 36px;
}

/* //////////////////////// */
.operands {
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.operands > div {
  border: 1px solid black;
  background: #FF9500;
  color: #fff;
  transition: .5s;
}
.operands > div:hover {
  background: #fff;
  color: #FF9500;
}


/* //////////////////////// */
.specials {
  grid-column: span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
}
.specials > div {
  background: #D4D4D2;
  border: 1px solid #000;
  transition: .5s;
}
.specials > div:hover {
  background: #eee;
}


/* //////////////////////// */
.digits {
  grid-column: span 3;
  grid-row-start: 3;
  grid-row-end: 7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.digits > div {
  border: 1px solid #000;
  background: #505050;
  color: #fff;
  transition: .5s;
}
.digits > div:hover {
  background: #ddd;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

/* //////////////////////// */
div .clickable {
  width: 1fr;
  height: 1fr;
  text-align: center;
  font-size: 36px;
  padding: 5px;
}

/* //////////////////////// */
h1 {
  text-align: center;
  font-size: 32px;
}
