#wrapper {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 85%;
    height: 75%;
}

#left-column {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    background-color:rgb(94, 87, 87);
    text-align: center;
}

#right-column {
    display: block;
    float: left;
    width: 75%;
    height: 100%;
    text-align: center;
    background-color: rgb(146, 135, 135);
}

.link {
    font-size: 25px;
    padding: 25px; 
    border-bottom: 1px solid black;
}

.link:hover {
    background-color: gray;
    color: white;
}

button {
    font-size: 25px;
    border: none;
    background-color: rgb(168, 108, 108);
    border-radius: 10px;
    box-shadow: 0 3px rgb(122, 92, 92);
}

button:hover {
    background-color: rgb(153, 91, 91)
}

span {
    text-decoration: underline;
}

h1 {
    font-size: 55px;
}

.roundResults {
    color: crimson;
    font-size: 25px;
}